{
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "**/node_modules/**",
        "**/tests/**",
        "**/coverage/**",
        "src/common/classes/Logger.js"
    ],
    "all": true,
    "check-coverage": true
}
